.autocomplete-border{
  border: 1px solid;
  border-bottom-left-radius:.25rem;
  border-bottom-right-radius:.25rem;
  border-color: #ced4da;
  border-top:0px;
  transition: border-color .15s
}
.w-100{
  width: 100%;
}
