<div class="container mt-4" *ngIf="!loader">
  <app-search [countries]="countriesCases" (search)="searchedCountry($event)" class="mb-3"></app-search>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Country Name</th>
      <th scope="col">Active Cases</th>
      <th scope="col">Deaths</th>
      <th scope="col">Recoveries</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let case of searchedCountries">
      <td>{{case.Country}}</td>
      <td>{{case.ActiveCases | number}}</td>
      <td>{{case.TotalDeaths  | number}}</td>
      <td>{{case.TotalRecovered  | number}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <th>Total Cases:</th>
      <th>{{totalActiveCases | number}}</th>
      <th>{{totalDeaths| number}}</th>
      <th>{{totalRecoveries | number}}</th>
    </tr>
    </tfoot>
  </table>
</div>

<div class="container" *ngIf="loader">
  <p class="text-center mt-4">Loading!</p>
</div>

